@model IEnumerable<Examsystem.Models.exam>

@{
    ViewBag.Title = "GetdetailsExams";
    
}

<h2>GetdetailsExams</h2>

<p>
    @Html.ActionLink("Create New", "Addexam")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.exam_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exam_description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.levelid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Noofquestion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalmarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passmarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.exam_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exam_description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.levelid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Noofquestion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalmarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passmarks)
        </td>
        <td>
            <a href="@Url.Action("Deleteexam", new { id=item.exam_id })" class="btn btn-danger">Delete</a>
            <a href="@Url.Action("Edit", new { id=item.exam_id })" class="btn btn-primary">Edit</a>
        </td>
    </tr>
}

</table>
