
@{
    ViewBag.Title = "Endexam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<body>
    <div>
        <h1>completed Exam !!</h1>
        <h2>@ViewBag.msg1</h2>
        <p><b>your score is</b> @TempData["score"]</p>
        <p><b>exam is </b>@TempData["des"]</p>
        <p><b>userid is </b>@TempData["uid"]</p>
        <p><b>user name is </b>@TempData["uf"] @TempData["lf"]</p>
        <p><b>email is </b>@TempData["email"]</p>
        <p><b>level is </b> @TempData["level"]</p>
        <p><b>result status is </b>@ViewBag.msg</p>
    </div>
</body>
</html>
<div>
    <a href="@Url.Action("level2", new {id= @TempData["score"]})" class="btn btn-success">ok & continue </a>
</div>
