@model Examsystem.Models.Report

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Results</title>
</head>
<body>
    @Html.ValidationSummary(true)
    @using (Html.BeginForm())
    {
        @Html.LabelFor(u => u.result_id)<br />
        @Html.TextBoxFor(u => u.result_id)<br />
        @Html.LabelFor(u => u.user_id)<br />
        @Html.TextBoxFor(u => u.user_id)<br />
        @Html.LabelFor(u => u.exam_id)<br />
        @Html.TextBoxFor(u => u.exam_id)<br />
        @Html.LabelFor(u => u.result_score)<br />
        @Html.TextBox("rs", (String)ViewBag.rs)<br />
        @Html.LabelFor(u => u.result_status)<br />
        @Html.TextBoxFor(u => u.result_status)<br />
        @ViewBag.Notification
    }
    <div>

    </div>
</body>
</html>
